/* .navbar_link {
  background-color: var(--nav);
  width: 100%;
  height: calc(100vh-80px);
  position: absolute;
  top: 80px;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#toggle-menu:checked + .navbar_link {
  display: flex; 
} */

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .navbar i {
    display: block;
  }

  .navbar_link {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: var(--nav);
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .navbar_link a {
    font-size: 18px;
    margin: 10px 0;
  }

  #toggle-menu:checked + .navbar_link {
    display: flex;
  }

  .hero_info h1 {
    font-size: 3rem;
  }

  .beneficios {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #contacto {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
  }

  .contacto_formulario {
    width: 300px;
  }

  .contacto_title span {
    font-size: 1rem;
  }

  .contacto_mapa iframe {
    width: 300px;
    height: 250px;
  }

  .footer_redes {
    font-size: 30px;
  }

  footer {
    gap: 2px;
  }
  footer p {
    text-align: center;
  }

  footer img {
    width: 60px;
  }
}

@media (max-width: 420px) {
  .user {
    gap: 1px;
  }

  .user img {
    width: 40px;
  }

  .user h3 {
    font-size: 0.7rem;
  }

  .hero_info h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .hero_info p {
    font-size: 0.8rem;
    padding: 10px;
  }

  .beneficios {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .card_beneficio {
    width: 120px;
    height: 140px;
    gap: 5px;
    justify-content: center;
    padding: 5px;
  }

  .card_beneficio i {
    font-size: 1.3rem;
  }

  .card_beneficio h3 {
    font-size: 0.7rem;
  }

  .card_beneficio p {
    font-size: 0.5rem;
  }

  .contacto_formulario {
    width: 300px;
  }

  .products {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 150px 150px;
  }

  .card-product {
    justify-content: space-between;
    align-items: center;
  }

  .card-product img {
    width: 140px;
  }

  .card-product p {
    font-size: 0.8rem;
  }

  .contacto_formulario span {
    font-size: 1rem;
  }

  .contacto_formulario input {
    font-size: 0.8rem;
  }

  .contacto_mapa iframe {
    width: 300px;
    height: 250px;
  }

  footer {
    gap: 1px;
  }
  footer p {
    text-align: center;
  }

  footer img {
    width: 60px;
  }
}

@media (max-width: 320px) {
  .card_beneficio {
    width: 90px;
    height: 130px;
    gap: 5px;
    justify-content: center;
    padding: 5px;
  }
}
