@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Serif:wght@100;200;300;400&family=Open+Sans:wght@300;400;600&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif; */

:root {
  --nav: #00438a;
  --body: #efa94a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid red; */
}
body {
  background-color: var(--body);
}

html {
  scroll-behavior: smooth;
}

/* ===== Navbar ===== */

header {
  background-color: var(--nav);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px 10px 10px;
  /* border-bottom: 1px solid rgba(187, 166, 166, 2); */
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
}

.navbar {
  display: flex;
}

.navbar i {
  font-size: 50px;
  color: wheat;
  display: none;
}

#toggle-menu {
  display: none;
}

.logo {
  width: 80px;
  cursor: pointer;
}

.userlog {
  width: 50px;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.user h3 {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 200;
}

.navbar_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.navbar_link a {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: wheat;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--body);
  background-size: 100% 2px;
}

section#hincha {
  scroll-margin-top: 80px;
}

section#beneficios {
  scroll-margin-top: 60px;
}

section#contacto {
  scroll-margin-top: 90px;
}

/* ===== Hero ===== */

.container_hero {
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(./img/afternoon-barcelona-boca-juniors-bombonera.jpg);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  max-width: 100%;
}

.hero {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 1px solid red; */
  /* max-width: 600px; */
}

.hero_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
}

.hero_info h1 {
  font-family: "College", sans-serif;
  font-size: 4rem;
  text-align: center;
}

.hero_info p {
  background-color: var(--body);
  text-align: center;
  font-family: "Noto Serif", serif;
  font-weight: 600;
}

.hero_info-btn {
  padding: 10px;
  border-radius: 7px;
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-size: 15px;
  background-color: var(--nav);
  color: wheat;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
  transition: 0.5s;
}

.hero_info-btn:hover {
  background-color: var(--body);
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

/* ===== Beneficios ===== */

#beneficios {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  gap: 20px;
}

#beneficios h2 {
  font-family: "Lato", sans-serif;
}

.beneficios {
  /* background-color: gray; */
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.card_beneficio {
  width: 200px;
  /* height: 200px; */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: var(--nav);
  color: wheat;
  border-radius: 10px;
  gap: 15px;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
}

.card_beneficio i {
  font-size: 50px;
}

.card_beneficio h3 {
  font-family: "Lato", sans-serif;
}

.card_beneficio p {
  font-family: "Noto Serif", serif;
}

.card_beneficio:hover {
  background-color: black;
}
/* font-family: 'Lato', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif; */

/* ===== Porductos  ===== */

#hincha {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  gap: 20px;
}

#hincha h2 {
  font-family: "Lato", sans-serif;
}

.products {
  display: flex;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 10px;
}

.card-product img {
  width: 200px;
  border-radius: 10px;
}

.card-product {
  background-color: wheat;
  padding: 10px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_title p {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.card_price p {
  font-family: "Noto Serif", serif;
  color: var(--nav);
  font-weight: 900;
}

.card_btn {
  display: flex;
  justify-content: end;
}

.card_btn p {
  color: white;
  background-color: var(--nav);
  padding: 5px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.card_btn p:hover {
  background-color: var(--body);
  color: black;
  transition: 0.5s;
}

/* ===== Contacto  ===== */

#contacto {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/ABI6RVPO7BBERLLH7WX3LJJA74.jpg);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  gap: 10px;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
  /* background-color: #efa94a; */
}

.contacto_formulario {
  width: 400px;
  background-color: var(--body);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 2px solid black; */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
}

.contacto_formulario {
  gap: 10px;
}
.contacto_formulario input {
  padding: 5px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
}

.textarea {
  padding: 5px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
}

.contacto_title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.contacto_title span {
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

.submit {
  background-color: var(--nav);
  font-family: "Noto Serif", serif;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
}

/* ===== Footer  ===== */

footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--nav);
  gap: 10px;
}

footer img {
  width: 100px;
}

.footer_title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.footer_redes {
  font-size: 40px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.footer_redes i {
  color: black;
  background-color: var(--nav);
  transition: 0.1s;
}

.footer_redes i:hover {
  color: var(--nav);
  background-color: var(--body);
  border-radius: 50%;
  padding: 10px;
  transition: 0.1s;
}

.footer2 {
  padding: 10px;
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;
}

.footer_redes a {
  color: black;
}
.footer_redes a:visited {
  color: black;
}

/* =============Medias=============== */
